<div ng-controller="JobsCtrl" style="margin-bottom: 10px">
    <div>
       <span us-spinner spinner-key="job-spinner"></span>
       <div style="margin-bottom: 10px;">
           <h4 style="margin-top: 0px; margin-bottom: 10px; display: inline">Task History
               <button title="Refresh" ng-disabled="refreshing" class="btn btn-primary btn-xs pull-right" ng-show="canReload" ng-click="refreshTasks()">
                   Refresh
               </button>
               <button ng-disabled="refreshing" class="btn btn-primary btn-xs pull-right" ng-show="hasUnavailable" ng-click="toggleFilter()" style="margin-right:5px">
                   {{toggleTasksText}}
               </button>
           </h4>
       </div>
       <div>
          <table class="table table-striped">
            <tr>
              <th>Status</th>
              <th>Task</th>
              <th>Requested</th>
              <th>Started</th>
              <th>Ended</th>
              <th>Run Time</th>
              <th>Actions</th>
            </tr>
            <tr ng:repeat="job in jobs">
              <td style="padding-left: 20px" title="{{job.task}}"><i class="fa {{job.statusIcon.icon}} fa-lg" style="color: {{job.statusIcon.color}}"></i></td>
              <td><a href="#/status/{{job.id}}">{{job.displayName}} ({{job.id}})</a></td>
              <td>{{ job.queue_time | date : 'M/d/yyyy h:mm:ss a'}}</td>
              <td>{{ job.start_time | date : 'M/d/yyyy h:mm:ss a'}}</td>
              <td>{{job.finish_time | date : 'M/d/yyyy h:mm:ss a'}}</td>
              <td>{{job.time_to_run_disp}}</td>
              <td>
                  <button class="btn btn-xs btn-primary" ng-click="download(job)" ng-show="job.hasDownload" title="Download"><span class="glyphicon glyphicon-download-alt"></span></button>
                  <button class="btn btn-xs btn-warning" ng-click="run(job)" ng-show="isDone(job)" title="Run Again"><span class="glyphicon glyphicon-play-circle"></span></button>
              </td>
            </tr>
          </table>
       </div>
  </div>
</div>