@import "components/variable";
@import "components/mixin";
@import "components/font";
@import "components/animation";
@import "components/icon";
@import "components/reset";
@import "components/form";
@import "components/common";
@import "components/header";
@import "components/footer";
@import "components/modal";
@import "components/global";
@import "components/map";
@import "components/home";
@import "components/page";
@import "components/queue";
@import "components/responsive";

@import "components/modules/table_result";