<div class="tab">
	<ul>
		<li ng-if="pageFramework.showMap" ng-class="view == 'map' && 'selected' || ''"><a href="javascript:;" ng-click="switchView('map')">Map</a></li>
		<li ng-class="view == 'card' && 'selected' || ''"><a href="javascript:;" ng-click="switchView('card')">Card</a></li>
		<li ng-class="view == 'table' && 'selected' || ''"><a href="javascript:;" ng-click="switchView('table')">Table</a></li>
		<li ng-class="view == 'grid' && 'selected' || ''"><a href="javascript:;" ng-click="switchView('grid')">Grid</a></li>
	</ul>
</div>