node_modules
dist
.tmp
.sass-cache
.editorconfig
.DS_Store
bower_components
app/bower_components
test-results.xml
test/coverage/cobertura-report
test/coverage/html-report
reports/protractor
test/e2e/tasks/convert-to-kml-task-spec.js
