<div class="modal-header">
    <ul class="saved_primary_nav">
        <li ng-class="{'selected' : showSearch}"><a href="javascript:;" ng-click="showCategory($event, 'search')">Searches</a></li>
        <!-- TODO enable when we add this feature on the back end-->
        <!--<li ng-class="{'selected' : !showSearch}"><a href="javascript:;" ng-click="showCategory($event, 'location')">Locations</a></li>-->
    </ul>

    <!-- TODO enable when we add this feature on the back end-->
    <!--<nav class="tab tab_border clearfix" ng-if="!showSearch">-->
        <!--<ul>-->
            <!--<li ng-if="!isAnonymous" ng-class="showTab == 'saved' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('saved')">My saved locations</a></li>-->
            <!--<li ng-class="showTab == 'suggested' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('suggested')">Suggested locations</a></li>-->
        <!--</ul>-->
    <!--</nav>-->

    <nav class="tab tab_border clearfix" ng-if="showSearch">
        <ul>
            <li ng-if="!isAnonymous" ng-class="showTab == 'saved' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('saved')">My saved searches</a></li>
            <li ng-class="showTab == 'suggested' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('suggested')">Suggested searches</a></li>
            <li ng-class="showTab == 'recent' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('recent')">Recent searches</a></li>
        </ul>
    </nav>
</div>
<div class="modal-body modal_padding_bottom saved-modal">
    <div class="search_list" ng-if="!showSearch" ng-class="{'search_list_space' : showTab != 'saved'}" ng-include="'src/saved-location/saved-locations.html'">
    </div>
    <div class="search_list" ng-if="showSearch" ng-class="{'search_list_space' : showTab != 'saved'}">
        <div ng-include="'src/saved-search/saved-searches.html'">
        </div>
        <div ng-include="'src/recent-search/recent-searches.html'">
        </div>
    </div>
</div>
<a href="javascript:;" class="modal-close icon-x" ng-click="cancel()"></a>