<div class="page" id="detailPage" ng-controller="DetailsCtrl">
    <div class="container-fluid">
        <div class="inner" id="working" ng-if="loading"></div>
        <div class="inner" ng-if="!loading">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <ul class="navbar">
                        <li class="first" ng-show="::hasRecords"><a href="javascript:;" ng-disabled="noPrevious" ng-click="getPrevious()" class="underline"><span class="fa fa-angle-left"></span>&nbsp; <span class="txt">Previous</span></a></li>
                        <li class="{{!hasRecords && 'first' || ''}}"><a href="{{lastSearch}}" class="underline"><span class="txt">Return to Search</span></a></li>
                        <li ng-show="::hasRecords"><a href="javascript:;" ng-disabled="noNext" ng-click="getNext()" class="underline"><span class="txt">Next</span>&nbsp; <span class="fa fa-angle-right"></span></a></li>
                        <li ng-if="isRemote" ng-click="openOnRemote()" class="pull-right" style="border-left: none;"><button>Open on Remote Server</button></li>
                    </ul>
                    <section>
                        <header class="result_title">
                            <h3 class="label label-danger icon-error missing_data" ng-show="doc.hasMissingData">Missing Data</h3>
                            <h1><span ng-bind="::doc.name"></span></h1>
                            <div ng-if="showFormat" class="field info muted">
                                <span ng-bind="::doc.displayFormat" ng-class="formatClass"></span><span ng-show="::doc.modified" class="bullet" ng-if="showFormat">&bull;</span><span ng-show="::doc.modified">Last index {{::doc.modified | date:'M/d/yyyy, hh:mma' }}</span>
                            </div>
                            <div ng-if="showPath" class="field">
                                <a href="{{doc.fullpath}}" ng-show="isURL" target="_blank">{{doc.fullpath}}</a>
                                <div ng-hide="isURL" vs-highlight>
                                    <span id="locationPathWrap"></span><span id="locationPathNotHighlight"><a href="{{::doc_path.url}}" id="locationPath0">{{::doc_path.path}}</a><a href="{{::sub_path.url}}" ng-repeat="sub_path in sub_paths" id="locationPath{{$index + 1}}">{{::sub_path.path}}</a></span>
                                </div>
                            </div>
                            <!--
                            <div class="star_wrap"><span class="star{{rate.current_rating}}">({{rate.total_user || 'not rated'}})</span></div>
                            -->
                            <div class="doc_description" ng-if="description">
                                <div ng-if="!description.editing" ng-bind-html="description.formattedValue"></div>&nbsp;&nbsp;

                                <a href="javascript:;" class="edit_link" ng-if="canEdit && description.editable && !description.editing" ng-click="edit(description)"><span class="icon-edit"></span>Edit</a>
                                <textarea ng-show="description.editing && description.isHtml" ng-model="description.value" class="input_field"></textarea>

                                <div class="action_row" ng-show="description.editing">
                                    <button ng-click="doSave(description)" type="button" title="Save" class="btn btn-secondary">Save</button>
                                    <a href="javascript:;" ng-click="cancel(description)" type="button" title="Cancel" class="link_secondary">Cancel</a>
                                </div>
                            </div>
                        </header>

                        <ul class="util_list">
                            <li ng-show="doc.hasDownload || doc.isMappable || canFlag || doc.isEsriLayer">
                               <div class="hover_flyout">
                                    <a href="javascript:;" class="btn btn-util icon-arrow flyout_trigger"><span class="icon-tools"></span>Tools</a>
                                    <div class="flyout">
                                        <div class="arrow"></div>
                                        <div class="flyout_inner">
                                            <ul>
                                                <li ng-show="doc.hasDownload"><a href="javascript:;" ng-click="doDownload()">{{getAction}} Now</a></li>
                                                <li ng-show="doc.isMappable"><a href="javascript:;" ng-click="doOpen()">Open with Map App</a></li>
                                                <li ng-show="canFlag"><a href="javascript:;" ng-click="showFlagModal()">Flag This</a></li>
                                                <li ng-show="doc.isEsriLayer"><a href="{{doc.layerURL}}">Open in ArcMap</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li ng-show="!inCart(doc.id) && canCart()"><a href="javascript:;" class="btn btn-util" role="button" ng-click="addToCart()"><span class="icon-plus"></span>{{uiText.add.text}}</span></a></li>
                            <li ng-show="inCart(doc.id)"><a href="javascript:;" class="btn btn-util" role="button" ng-click="removeFromCart()"><span class="icon-x"></span> Remove</a></li>
                            <!--
                            <li>
                                <div class="hover_flyout">
                                    <a href="javascript:;" class="btn btn-util icon-arrow flyout_trigger"><span class="icon-card_star_empty"></span>Rate this</a>
                                    <div class="flyout rating_flyout">
                                        <div class="arrow"></div>
                                        <div class="flyout_inner">
                                            <rating ng-model="rate.user_rating" max="3" readonly="false" on-leave="ratingLeave(value)"></rating>
                                            <div class="small">Roll over stats, then click to rate.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            -->
                        </ul>
                    </section>
                    <div class="tag_wrap">
                        <h4>Tags:</h4>
                        <ul class="tag_list">
                            <li ng-repeat="label in labels"><a href="javascript:;" ng-click="searchTag(label)" ng-bind="label"></a><span ng-if="!$last">,</span></li>
                            <li ng-show="canTag">
                                <a href="javascript:;" class="edit_link" ng-click="toggleEditTag()" ng-show="labels.length"><span class="icon-edit"></span>{{showEditTag && 'Hide' || 'Edit'}}</a>
                                <a href="javascript:;" class="edit_link" ng-show="!labels.length" ng-click="toggleEditTag()"><span class="icon-edit"></span>{{showEditTag && 'Hide' || 'Add'}}</a>
                            </li>
                        </ul>

                        <div ng-show="showEditTag">
                            <input id="labels" type="hidden" ui-select2="select2Options" ng-model="labels" style="width: 100%" vg-tags>
                        </div>
                    </div>
                    <nav class="tab tab_border clearfix">
                        <ul>
                            <li ng-if="displayFields.length" ng-class="showTab == 'summary' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('summary')">Details</a></li>
                            <li ng-if="doc.hasMetadata" ng-class="showTab == 'metadata' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('metadata')">Metadata</a></li>
                            <li ng-if="hasRelationships" ng-class="showTab == 'relationship' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('relationship')">Relationships</a></li>
                            <li ng-if="doc.hasSchema" ng-class="showTab == 'schema' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('schema')">Schema</a></li>
                        </ul>
                    </nav>

                    <section class="tab_content" ng-show="doc.is_missing">
                        <div class="label-danger missing_data">
                            <span class="icon-error"></span>
                            This item is not available for indexing. It is likely that it was reference by another item but has since been moved or deleted from its original location.
                        </div>
                    </section>

                    <section class="tab_content" ng-show="showTab == 'summary'">
                        <table class="table table-body-striped table-condensed" id="details-table">
                            <tbody>
                            <tr ng-repeat="field in displayFields">
                                <th>{{field.name}}</th>
                                <td>
                                    <div class="formatted_value" ng-show="!field.editing && !field.isHtml && field.style !== 'STRING'">
                                        <span ng-if="!field.isArray">
                                            <a href="#/search?fq={{field.key + ':' + field.value}}" ng-if="field.stype != 'date'">{{field.formattedValue}}</a>
                                            <a href="#/search?fq={{field.key + ':' + field.value}}" ng-if="field.stype == 'date'">{{field.formattedValue | date:'medium'}}</a>
                                        </span>
                                        <span ng-if="field.isArray" ng-repeat="f in field.value track by $index">
                                            <a href="#/search?fq={{field.key + ':' + f}}">{{field.formattedValues[f]}}</a>{{!$last && ', ' || ''}}
                                        </span>
                                    </div>
                                    <div class="formatted_value" ng-if="!field.editing && field.isHtml" ng-bind-html="field.formattedValue"></div>
                                    <div class="formatted_value" ng-if="!field.editing && field.style === 'STRING'" ng-bind="field.formattedValue"></div>
                
                                    <input ng-show="field.editing && !field.isHtml" ng-model="field.value" type="text" class="input_field" />
                                    <textarea ng-show="field.editing && field.isHtml" ng-model="field.value" class="input_field"></textarea>

                                    <a href="javascript:;" class="edit_link pull-right" ng-show="canEdit && field.editable && !field.editing && !field.appending" title="Edit" ng-click="edit(field)"><span class="icon-edit"></span>Edit</a>

                                    <div class="action_row" ng-show="field.editing">
                                        <button ng-click="doSave(field)" type="button" title="Save" class="btn btn-secondary">Save</button>
                                        <a href="javascript:;" ng-click="cancel(field)" type="button" title="Cancel" class="link_secondary">Cancel</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="tab_content" ng-show="showTab == 'metadata'">
                        <div class="content_inner">
                            <select ui-select2="{dropdownAutoWidth: 'true', minimumResultsForSearch: -1}" ng-model="theme.selected">
                                <option value="FGDC Classic">FGDC Classic</option>
                                <option value="FGDC FAQ">FGDC FAQ</option>
                                <option value="FGDC Plus">FGDC Plus</option>
                                <option value="ISO 19139">ISO 19139</option>
                                <option value="ArcGIS">ArcGIS</option>
                                <option value="ArcGIS_ItemDescription">ArcGIS_ItemDescription</option>
                            </select>
                            <iframe ng-src="{{trustSrc(metadataUrl)}}" class="metadata {{frameLoading}}" id="metadataFrame" iframe-load></iframe>
                        </div>
                    </section>
                    <section class="tab_content" ng-show="showTab == 'relationship'">
                        <section class="relationship clearfix" vs-preview>
                            <div class="content_inner" ng-if="tree">
                                <header>
                                    <h1 class="semi">Structure</h1>
                                </header>
                                <ul class="tree" frang-tree>
                                    <li frang-tree-repeat="node in tree">
                                        <div ng-class="{folder: node.children && node.children.length > 0, selected:node.id === doc.id}">
                                            <span class="icon"
                                                  ng-class="{collapsed: node.collapsed, expanded: !node.collapsed}"
                                                  ng-show="node.children && node.children.length > 0"
                                                  ng-click="node.collapsed = !node.collapsed"></span>
                                            <span ng-class="node.hasMissingData ? 'node_icon icon-error label-danger' : 'node_icon'"></span>
	                                        <span class="label">
	                                           <a href="#/show/{{node.id}}?disp={{disp}}" data-id="{{node.id}}">{{node.name}}</a>
	                                        </span>
                                        </div>
                                        <ul class="child" ng-if="!node.collapsed && node.children && node.children.length > 0"
                                            frang-tree-insert-children="node.children"></ul>
                                    </li>
                                </ul>
                            </div>
                            <div id="preview" ui-view="preview"></div>
                        </section>

                        <section class="relationship clearfix" ng-repeat="rel in ::relationships" ng-if="rel.values.length > 0">
                            <div class="list alt_list_view wide_list_view content_inner">
                                <header class="row clearfix">
                                    <h1 class="semi col-md-6">{{::rel.name}}</h1>
                                    <div class="pull-right col-md-6" ng-show="rel.numFound > rel.values.length">
                                        <span class="semi">showing 1-{{rel.values.length}}</span> of <span class="semi">{{rel.numFound | number}}</span>
                                        &nbsp;&nbsp;<a href="#/search?links.to={{doc.id + ':' + rel.type}}" class="semi">Show all</a>
                                    </div>
                                </header>
                                <div class="row">
                                    <article ng-repeat="doc in rel.values" vs-relationship></article>
                                </div>
                            </div>
                        </section>

                        <section class="relationship clearfix" ng-repeat="fromRel in ::fromRelationships">
                            <div class="list alt_list_view wide_list_view content_inner">
                                <header class="row clearfix">
                                    <h1 class="semi col-md-6">{{::fromRel.name}}</h1>
                                    <div class="pull-right col-md-6" ng-show="fromRel.numFound > fromRel.values.length">
                                        <span class="semi">showing 1-{{fromRel.values.length}}</span> of <span class="semi">{{fromRel.numFound | number}}</span>
                                        &nbsp;&nbsp;<a href="#/search?links.from={{doc.id + ':' + fromRel.type}}" class="semi">Show all</a>
                                    </div>
                                </header>
                                <div class="row">
                                    <article ng-repeat="doc in fromRel.values" vs-relationship></article>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section class="tab_content" ng-show="showTab == 'schema'">
                        <div class="content_inner details_table">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Field</th><th>Type</th><th>Alias</th><th>Properties</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="field in schema.fields">
                                    <td>{{::field.name}}</td>
                                    <td>{{::field.type}}</td>
                                    <td>{{::field.alias}}</td>
                                    <td>{{::field.properties.join(', ')}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="margin-left: 5px;" ng-show="schema.hash">
                                <a href="{{schemaLink}}">See more results with this Schema</a>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="thumbnail_wrap">
                        <div class="tag" ng-if="doc.tag_flags"><a href="javascript:;" ng-click="searchFlag(doc.tag_flags)" ng-bind="doc.tag_flags"></a></div>
                        <img class="img-thumbnail" alt="..." ng-src="{{preview}}" />
                    </div>
                    <div ng-if="showMap">
                        <div class="detail_map" vs-details-map></div>
                    </div>
                </div>
            </div>

            <section class="recent" ng-show="recent.length">
                <header>
                    <h1>Recently Viewed</h1>
                </header>
                <div class="list clearfix">
                    <div class="row">
                        <article ng-repeat="doc in recent" vs-card style="width: 25%"></article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>