<div class="page" id="detailPage" ng-controller="DetailsCtrl">
    <!-- TODO - disabled details scroll - doesn't work with smaller resolutions-->
    <div class="container-fluid" vs-detail-scroll>
        <div id="working" ng-if="loading"></div>
        <div ng-if="!loading">
            <div class="row detail-content-wrap">
                <div id="itemDetailContent" class="col-xs-12">
                    <div id="detailTopStickyContent" class="col-xs-12">
                        <ul class="floating-nav" ng-include="'src/details/floating-nav.html'">
                        </ul>
                        <section ng-include="'src/details/summary.html'" class="row">
                        </section>
                    </div>
                    <div class="col-xs-12">
                        <hr style="border-color: lightgrey;" name="divider">
                    </div>
                    <div class="col-md-8">
                        <nav id="detailTabContentNav" class="tab tab_border clearfix col-xs-12 row" style="width: 100%">
                            <ul>
                                <li ng-if="displayFields.length && pageFramework.showDetailsTable" ng-class="showTab == 'summary' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('summary')">Details</a></li>
                                <li ng-if="doc.hasMetadata && pageFramework.showMetadataTable && canViewMetadata" ng-class="showTab == 'metadata' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('metadata')">Metadata</a></li>
                                <li ng-if="hasRelationships && pageFramework.showRelationshipsTable" ng-class="showTab == 'relationship' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('relationship')">Relationships</a></li>
                                <li ng-if="doc.hasSchema" ng-class="showTab == 'schema' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('schema')">Schema</a></li>
                            </ul>
                        </nav>

                        <div id="detailTabContentWrap">
                            <section class="tab_content" ng-show="doc.is_missing">
                                <div class="label-danger missing_data">
                                    <span class="icon-error"></span>
                                    This item is not available for indexing. It is likely that it was reference by another item but has since been moved or deleted from its original location.
                                </div>
                            </section>

                            <section class="tab_content" ng-show="showTab == 'summary' && pageFramework.showDetailsTable" ng-include="'src/details/details-tab.html'">
                            </section>

                            <section class="tab_content" ng-show="showTab == 'metadata' && pageFramework.showMetadataTable">
                                <div class="content_inner">
                                    <select ui-select2="{dropdownAutoWidth: 'true', minimumResultsForSearch: -1}" ng-model="theme.selected">
                                        <option value="FGDC Classic">FGDC Classic</option>
                                        <option value="FGDC FAQ">FGDC FAQ</option>
                                        <option value="FGDC Plus">FGDC Plus</option>
                                        <option value="ISO 19139">ISO 19139</option>
                                        <option value="ArcGIS">ArcGIS</option>
                                        <option value="ArcGIS_ItemDescription">ArcGIS_ItemDescription</option>
                                    </select>
                                    <iframe ng-src="{{trustSrc(metadataUrl)}}" class="metadata {{frameLoading}}" id="metadataFrame" iframe-load></iframe>
                                </div>
                            </section>

                            <section class="tab_content" ng-show="showTab == 'relationship' && pageFramework.showRelationshipsTable" ng-include="'src/details/relationships-tab.html'">
                            </section>

                            <section class="tab_content" ng-show="showTab == 'schema'" ng-include="'src/details/schema-tab.html'">
                            </section>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-top: 5px" ng-include="'src/details/details-right.html'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>