<div class="modal-header">
    <nav class="tab tab_border clearfix">
        <ul>
            <li ng-if="!isAnonymous" ng-class="showTab == 'saved' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('saved')">My saved searches</a></li>
            <li ng-class="showTab == 'suggested' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('suggested')">Suggested searches</a></li>
            <li ng-class="showTab == 'recent' && 'selected' || ''"><a href="javascript:;" ng-click="changeTab('recent')">Recent searches</a></li>
        </ul>
    </nav>
</div>
<div class="modal-body modal_padding_bottom search_list">
    <div ng-controller="SavedSearchCtrl">
        <article class="clearfix" ng-show="showTab == 'saved'">
            <p ng-show="!personalSavedSearches.length">You have no saved searches.</p>
            <ul class="col-md-12 no_padding sortable_list" ng-if="personalSavedSearches.length && !isAnonymous"
                as-sortable="dragControlListeners" ng-model="personalSavedSearches">
                <li ng-repeat="saved in personalSavedSearches"
                    class="as-sortable-item"
                    as-sortable-item>
                    <div as-sortable-item-handle class="as-sortable-item-handle">
                        <a href="javascript:;" class="icon-heart_filled"></a>
                        <a href="javascript:;" class="underline" ng-click="applySavedSearch(saved)">
                            <em>{{saved.title}}</em>
                        </a>
                        <a class="pull-right icon-x" ng-click="deleteSearch(saved.id)"><span class="sr-only">delete</span></a>
                    </div>
                </li>
            </ul>
        </article>
        <article ng-show="showTab == 'suggested'" class="clearfix">
            <p ng-show="!savedSearches.length">You have no suggested searches.</p>
            <ul class="col-md-12 no_padding" ng-if="savedSearches.length">
                <li ng-repeat="saved in savedSearches">
                    <div>
                        <a href="javascript:;" class="icon-heart_filled"></a>
                        <a href="javascript:;" class="underline" ng-click="applySavedSearch(saved)">
                            <em>{{saved.title}}</em>
                        </a>
                        <a href="javascript:;" class="pull-right icon-x" ng-if="hasPermission('manage')" ng-click="deleteSearch(saved.id)"><span class="sr-only">delete</span></a>
                    </div>
                </li>
            </ul>
        </article>
    </div>
    <div ng-controller="RecentSearchCtrl">
        <article ng-show="showTab == 'recent'" class="clearfix">
            <p ng-show="!recentSearches.length">You have no recent searches.</p>
            <ul class="col-md-12 no_padding" ng-if="recentSearches.length">
                <li ng-repeat="search in recentSearches">
                    <div>
                        <a href="javascript:;" ng-class="search.saved && 'icon-heart_filled' || 'icon-heart_empty'" ng-if="hasPermission('save_searches')" ng-click="toggleSave(search)"></a>
                        <a href="javascript:;" class="underline" ng-click="applyRecentSearch(search)">
                            <em ng-bind="search.title || search.q"></em>
                            {{search.displayBBox == '' ? 'near' : ''}}{{search.displayPlaceOP}}
                            <em ng-bind="search.displayBBox || search.place"></em>
                        </a>
                        <a href="javascript:;" class="pull-right icon-x" ng-click="deleteSearch($index)"><span class="sr-only" aria-label="delete">delete</span></a>
                    </div>
                </li>
            </ul>
        </article>
    </div>
</div>
<a href="javascript:;" class="modal-close icon-x" ng-click="cancel()"></a>