<div ng-controller="SavedSearchCtrl">
    
    <form name="savedForm" ng-submit="search()" ng-show="showTab == 'saved'">
        <fieldset>
            <input name="savedTerm" class="form-control input_field focus_field" type="text" ng-model="savedTerm" placeholder="Search saved searches" />
            <label for="savedTerm" class="icon-input_search"></label>
            <a href="javascript:;" class="icon-x" aria-label="clear" ng-click="clearField('savedTerm', true)" tabindex="0"><span class="sr-only">clear</span></a>
        </fieldset>
    </form>
    <article class="clearfix" ng-show="showTab == 'saved'">
        <p ng-show="!personalSavedSearches.length">You have no saved searches.</p>
        <ul class="col-md-12 no_padding sortable_list" ng-if="personalSavedSearches.length && !isAnonymous"
            as-sortable="dragControlListeners" ng-model="personalSavedSearches">
            <li ng-repeat="saved in personalSavedSearches|filter: savedTerm"
                class="as-sortable-item"
                as-sortable-item>
                <div as-sortable-item-handle class="as-sortable-item-handle">
                    <a href="javascript:;" class="icon-heart_filled"></a>
                    <a href="javascript:;" class="underline" ng-click="applySavedSearch(saved)">
                        <em>{{saved.title}}</em>
                    </a>
                    <a class="pull-right icon-x" ng-click="deleteSearch(saved.id)"><span class="sr-only">delete</span></a>
                </div>
            </li>
        </ul>
    </article>
    <article ng-show="showTab == 'suggested'" class="clearfix">
        <p ng-show="!savedSearches.length">You have no suggested searches.</p>
        <ul class="col-md-12 no_padding" ng-if="savedSearches.length">
            <li ng-repeat="saved in savedSearches">
                <div>
                    <a href="javascript:;" class="icon-heart_filled"></a>
                    <a href="javascript:;" class="underline" ng-click="applySavedSearch(saved)">
                        <em>{{saved.title}}</em>
                    </a>
                    <a href="javascript:;" class="pull-right icon-x" ng-if="hasPermission('manage')" ng-click="deleteSearch(saved.id)"><span class="sr-only">delete</span></a>
                </div>
            </li>
        </ul>
    </article>
</div>