#footer {
	box-sizing: border-box;
	clear: both;
	font-size: $smallestSize;
	margin: 60px 20px 0;
	overflow: hidden;
	background-color: $likewhite;
	border-top: 1px solid $borderColor;
	padding: 8px 0;
	position: relative;
	z-index: 2;

	ul {
		float: right;

		li {
			display: inline-block;
			margin-left: 5px;

			strong {
				color: #5c5e5e;
				font-family: $strongFont;
				margin-right: 2px;
				letter-spacing: -0.04em;
			}
		}
	}
}

.full #footer {
	position: fixed;
	z-index: 2;
	right: 0;
	bottom: 0;
	width: 100%;

	.inner {
		max-width: 100%;
	}
}