.dragging_disabled {
	.leaflet-container {
		cursor: pointer;
	}


	.leaflet-control-container {
		.leaflet-top > div {
			display: none;

			&.leaflet-map-toggle-section {
				display: block;
			}
		}
	}
}

.leaflet-top {
	.leaflet-control {
		margin-top: 20px;
		margin-left: 20px;
	}
}

.leaflet-bottom {
	bottom: 10px;
}

.leaflet-bar {
	border-radius: 0;
	a {
		position: relative;
		border-radius: 0 !important;
		color: $mapControlColor;

		&:hover {
			color: $mapControlColor;
		}

		&.selected {
			&:before {
				border: 2px solid $mapControlSelectedColor;
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
			}
		}
	}
}

.leaflet-draw-tooltip {
	font-family: $semiStrongFont;
	font-size: $smallSize;

  	.leaflet-draw-tooltip-subtext {
	  	display: none;
	}
}

.leaflet-draw-tooltip > br {
	display: none;
}

.leaflet-control-layers {
	border-radius: 0;

	.leaflet-control-layers-toggle {
		color: $defaultTagBgColor;
		font-size: 17px;
		background: none;
		line-height: 32px;
		text-align: center;
		height: 30px;
		padding-right: 20px;
		width: 60px;

		&:after {
			@extend %icon_style;
			opacity: 0.5;
			position: absolute;
			font-size: 7px;
			top: 10px;
			right: 10px;
			content: "\e601";
		}
	}
}

.leaflet-control-layers-expanded {
	padding: 0;
}

.leaflet-control-layers-list {
	bottom: 0;
	pointer-events: auto;

	.leaflet-control-layers-overlays {
		label {
			border-bottom: 1px solid $ddHoverBg;
			position: relative;
			padding: 10px 35px;
			margin-bottom: 0;
			cursor: pointer;

			.leaflet-control-layers-selector {
				position: absolute;
				top: 9px;
				left: 20px;
			}

			&:hover {
				background-color: #ebeeef;
			}

			span {
				margin-left: 5px;
				max-width: 350px;
				display: block;
			}

			button {
				position: absolute;
				top: 9px;
				right: 20px;
				z-index: 2;
				padding: 0;
				color: #939aa3;
				font-weight: bold;
				background-color: transparent;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.leaflet-touch .leaflet-draw-actions {
	left: 32px;
}

.leaflet-control-map-size-toggle {
  background-color: #ffffff;
  width: 60px;
  height: 30px;
  a.icon-arrow {
    &:before {
      right: 10px;
    }
  }
}

.leaflet-bottom {
	.leaflet-control-layers-toggle, .leaflet-control-map-size-toggle.leaflet-control {
		border: 1px solid #d7d5cf;
		height: 32px;
		width: 62px;
	}

	.leaflet-control-layers-toggle {
		border-right: 0;
	}

	.leaflet-control-map-size-toggle.leaflet-control {
		border-left: 0;
	}
}

.leaflet-bottom {
  &.leaflet-bottom-search {
    right: 72px;

    .leaflet-control-layers {
      box-shadow: none;
    }
  }

  .leaflet-control-map-size-toggle.leaflet-control {
    box-shadow: none;
    margin-right: 20px;
    border-left: 1px solid $borderColor;

    a.flyout_trigger {
    	height: 30px;
    	width: 60px;
    	border-bottom: 0;

    	.icon-search_map {
    		position: relative;
    		top: 3px;
    	}
    }
  }
}

.leaflet-control-map-size-toggle {
	.hover_flyout {
		.flyout {
			bottom: 30px;
			right: 0;

			.arrow {
				left: 70px;
			}
		}


		.flyout_inner {
			ul {
				width: 110px;

				li:last-child {
					&:before, &:after {
						display: none;
					}
				}

				a {
					height: auto;
				}
			}
		}
	}
}

.map-size-drop-down {
	.icon-arrow {
		outline: none;
		cursor: pointer;
		&:before {
			top: 9px;
			right: 10px;
		}
	}
	.icon-search_map {
		position: relative;
		top: 6px;
		left: 13px;
	}
}
#noMapMapsizeDropDown {
	.icon-arrow {
		display: block;
		background-color: $white;
		border: 1px solid $borderColor;
		color: #404859;
		padding: 8px 30px 7px 10px;

		&:before {
			right: 10px;
		}
	}

	.hover_flyout {
		.flyout {
			.flyout_inner {
				width: 120px;
			}
		}
	}
}

