#searchPage {
	padding-bottom: 30px;

	#itemDetailContent {
		z-index: 1;
	}
	#searchResultMapContainer {
		.search-map-container-inner {
			height: 100%;
		}

		.alert-warning {
			background-color: $likewhite;
			position: absolute;
			z-index: 50;
			height: 62px;
			width: 100%;
		}
	}

	.move-map-option {
		background-color: $white;
		padding: 10px 15px 5px;

		input {
			margin-right: 10px;
		}

		label {
			font-family: $regularFont;
		}
	}

	.tab_center {
		position: fixed;
		z-index: 1000;
		left: 50%;
		margin-left: -100px;
		margin-top: 15px;
	}

	.map_fixed {
		position: fixed;
		z-index: 5;
		left: 0;
		height: calc(100% - 64px);
		//bottom: 0;

		.search-map {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.tab {
			position: absolute;
			margin-top: 20px;
			z-index: 5;
			text-align: center;
			width: 100%;

			ul {
				display: inline-block;
			}
		}
	}

	.result_container {

		.container-fluid {
			padding: 0;
		}

		.warning {
			margin: -15px -20px 15px;
		}

		header {
			right: 0;
			border-bottom: 1px solid $borderColor;
			padding: 15px 20px;
			background-color: $likewhite;
			height: 70px;

			#results-header {
				position: absolute;

				.result_actions {
					.flyout_trigger.icon-arrow {
						cursor: text;
						&:before {
							display: none;
						}
					}

					&.hover_flyout {
						.flyout_trigger.icon-arrow {
							cursor: pointer;
							&:before {
								display: block;
							}
						}
					}
				}
			}

			.total {
				position: relative;
				top: 7px;
				font-family: $semiStrongFont;
				font-size: $mediumSize;
				color: $darkerBlue;
			}

			.result_range {
				color: $lightDarkGrey;
				font-family: $semiStrongFont;
				font-size: $smallerSize;
			}

			> ul > li {
				float: left;
				margin-left: 10px;
			}
		}

		#result-header {
			min-height: 36px;
		}

		.sticky + .container-fluid {
			padding-top: 90px;
		}

		.list {
			padding-left: 20px;
			padding-right: 20px;
		}

		&.open_filter {
			.container-fluid {
				padding-right: 300px;

				.list {
					&.single {
						article {
							width: 100%;
						}
					}
				}
			}
		}
	}

	#working {
		margin-top: -13px;
		margin-left: 150px;
		position: relative;
	}

	.no_result {
		padding: 0 40px;

		ul {
			padding: 20px 40px;
			li {
				list-style: disc;
			}
		}
	}


	.list.table_list, .list.list_list {
		> .row {
			margin-left: 0;
			margin-right: 0;
		}

		.img {
			.tag {
				background-color: $defaultTagBgColor;
				left: 0px;
				top: 0px;
				width: auto;
				max-width: 100%;

				a {
					padding: 1px 3px;
					color: $white;
					font-size: $smallestSize;
				}
			}
		}
	}

	.option_list {
		position: relative;

		.sort_label {
			display: inline-block;
			position: relative;
			width: 100px;
			overflow: hidden;
			line-height: 1em;
			top: 3px;
			text-align: left;

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				right: 0;
				z-index: 1;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 87%, rgba(255,255,255,1) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(87%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
				background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 87%,rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 87%,rgba(255,255,255,1) 100%);
				background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 87%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 87%,rgba(255,255,255,1) 100%);
			}
		}

		.flyout {
			.arrow:after {
				border-color: transparent transparent $ddHoverBg transparent;
			}
			.tab_tert {
				padding: 20px;
				background-color: $ddHoverBg;
			}

			.flyout_inner {
				width: 250px;
				.sort_list {
					width: 100%;
					max-height: 200px;
					overflow: hidden;
					overflow-y: scroll;
				}

				li {
					position: relative;
					.fa {
						position: absolute;
						right: 23px;
						top: 13px;
						display: none;
					}

					&.selected {
						background-color: $lightestGrey;

						.fa {
							display: block;
						}
					}
				}
			}
		}
	}

	//map view
	.map_content {

		&.extra_height {
			.result_container header {
				height: 120px;
			}

			.sticky + .container-fluid {
				padding-top: 140px;
			}

			#filterContainer > div {
				padding-top: 184px;
			}
		}

		&.map_view_content {
			.option_list {
				position: absolute;
				right: 20px;
				z-index: 5;

				.sort_label {
					width: auto !important;
				}

				> li {
					> a.btn-action {
						width: 40px;
						padding-left: 14px;

						span {
							position: absolute;
							text-indent: -999em;
						}
					}
				}
			}

			.container-fluid {
				overflow: hidden;
			}
		}

		&.col-lg-4, &.col-md-4 {
			.sticky.col-lg-4 {
				.option_list {
					.sort_label {
						width: auto;
					}

					> li {
						> a {
							padding: 12px 0;
							width: 40px;
							height: 40px;

							span {
								position: absolute;
								text-indent: -9999em;
							}

							&:before {
								width: 40px;
								text-align: center;
								margin-right: 0;
								display: block;
							}
						}
					}
				}
			}

			.container-fluid {
				.list.card_list {
					article {
						width: 100%;
					}
				}
			}
		}

		&.col-lg-12 {
			.list {
				article {
					width: 20%;
				}
			}
		}

	}
}

.warning {
	background-color: #f0ad4e;
	padding: 15px 20px 15px 50px;
	color: $white;
	font-size: $smallSize;

	.icon-error {
		position: absolute;
		left: 20px;
	}

	a {
		color: $white;
		text-decoration: underline;
	}

	.icon-x {
		font-size: 9px;
		right: 0;
		color: $white;
		opacity: 1;
		text-decoration: none;
	}
}

#locationPathWrap, #locationPathNotHighlight {
	//word-wrap: normal;
	display: inline;
	a {
		display: inline;
		height: 20px;
		line-height: 20px;
	}
}