<div class="modal-header task_list_header">
    <h3 ng-bind="task.display"></h3>
    <p ng-bind="task.description"></p>
    <div class="hover_flyout top_only">
        <a href="javsacript:;" class="btn btn-secondary flyout_trigger" id="runTaskBtn">Other tasks<span class="icon-arrow"></span></a>
        <div class="flyout task_flyout">
            <div class="arrow"></div>
            <div class="flyout_inner">
                <ul>
                    <li ng-repeat="task in taskList | filter: filterTask">
                        <a href="javascript:;" ng-click="selectTask(task)" id="{{task.name}}">{{task.display}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-body task_list_modal_body">
    <div class="modal_inner">
        <span us-spinner spinner-key="tasks-spinner" spinner-start-active="1"></span>
        <div class="alert alert-danger" ng-show="allUnavailable">Unfortunately, none of the default Voyager Tasks are available.</div>
        <div class="row" id="task-details">
            <div class="pull-right" ng-show="hasAdvanced">
                <a href="javascript:;" class="underline small" ng-click="showAdvanced = !showAdvanced"><span class="txt">{{showAdvanced ? 'Hide':'Show'}} Advanced Options</span></a>
            </div>
            <div id="mapParams" class="col-sm-6" ng-show="hasMap">
                <vs-param ng-repeat="p in mapParams" param="p" show="showAdvanced"></vs-param>
            </div>
            <div id="params" ng-class="hasMap ? 'col-sm-6' : 'col-lg-12 col-md-12'">
                <vs-param ng-repeat="p in params" param="p" show="showAdvanced"></vs-param>
                <div class="process-control alert alert-danger" ng-repeat="error in errors" ng-show="hasError"><span class="icon_warning"/> {{error.message}}</div>
            </div>
        </div>
        </div>
</div>
<div class="modal-footer">
    <div class="cta_row">
        <button class="btn btn-primary" ng-click="execTask()">Run Task</button>
        <a href="javascript:;" class="link_secondary" ng-click="cancel()">Cancel</a>
    </div>
</div>
<a href="javascript:;" class="modal-close icon-x" ng-click="cancel()"></a>