.grid_item {
	min-width: 125px !important;
	max-width: 150px !important;
	margin-bottom: 20px;
	padding: 0 !important;
	background-color: $white;
	box-sizing: border-box;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	.img {
		margin: 0 auto;
		img {
			height: 150px;
			width: 150px;
		}
	}
}

.grid_item_preview {
	margin-bottom: auto !important;
	margin-left: -10px !important;
	.detail_wrap {
		padding: 15px 5px 10px !important;
	}
}