.navbar {
	min-height: 10px;
	margin-bottom: 0;

	> li {
		display: inline-block;
		border-left: 1px solid $borderColor;
		font-family: $semiStrongFont;
		font-size: $smallSize;

		&.first {
			border-left: none;
		}

		&.first, &:first-child {
			a {
				padding-left: 0;
			}
		}

		a {
			padding: 0 10px;
		}
	}
}

.floating-nav {
	position: fixed;
	background-color: rgba(236, 240, 241, 1);
	padding: 20px 40px 10px 10px;
	z-index: 1001;
	top: 64px;
	width: 100%;
	margin-left: -10px;

	> li {
		display: inline-block;
		border-left: 1px solid $borderColor;
		font-family: $semiStrongFont;
		font-size: $smallSize;

		&.first {
			border-left: none;
		}

		&.first, &:first-child {
			a {
				padding-left: 0;
			}
		}

		a {
			padding: 0 10px;
		}
	}
}

.floating-header {
	border-left: none !important;
	position: absolute;
	left: 350px;
	margin-top: -5px;
	max-width: 500px;

	h1 {
		font-family: proxima_novalight;
		font-size: 2.5rem;
		position: relative;
		margin-top: 0px;
		display: none;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
}