.table_view {

	.map_content {
		position: absolute;
		top: 63px;

		#searchViewList {
			position: absolute;
			left: 50%;
			margin-left: -145px;
		}
	}

	.open_filter {
		#searchViewList {
			margin-left: -250px;
		}
	}


	#searchResultMapContainer {
		background: $likewhite;

		.search-map-container-inner {
			height: calc(100% - 20px) !important;
		}

		&.tab_center {
			margin-left: 0;
			top: 118px;

			&.filter_opened {
				width: calc(100% - 290px);
			}
		}
	}
}

#resultsTable {
	thead {
		position: fixed;
		z-index: 1;
		left: 20px;
		right: 20px;

		tr {
			display: inline-block;
			width: 100%;

			th {
				display: inline-block;
				border-width: 0 0 2px 0;
				line-height: 1em;
				a.flyout_trigger {
					color: $defaultTagBgColor;
					border-bottom: 1px solid transparent;

					&:before {
						color: $lightGrey;
					}
				}
				&.sortable {
					div {
						display: inline-block;
						border-bottom: 1px solid #687080;
					}
				}
			}
		}
	}

	&.ng-table th.sortable {
		div {
			&:after, &:before {
				visibility: hidden;
			}
		}
		&.sort-desc, &.sort-asc {
			div {
				border-bottom: 0;

				&:before, &:after {
					margin-top: -3px;
					right: -16px;
				}
			}
		}
		&.sort-desc {
			div:before {
				visibility: visible;
				border-width: 5px 5px 0 5px;
			}
		}
		&.sort-asc {
			div:after {
				visibility: visible;
				border-width: 0 5px 5px 5px;
			}
		}
	}

	tbody tr:first-child td{
		padding-top: 56px;
	}
}

.no-header {
    .main_container { padding-top: 0; }
    .table_view {
        .map_content {padding-top: 0; top: 0;}
    }
    #header {display: none;}
    .header-controller {display: none;}
    .list_wrap {padding-top: 65px !important;}
}

.no-map {
    .list_wrap {margin-top: 0 !important;}
} 

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.default-thumb-simple-table {
	background-position: 10% 93% !important;
	background-size: 140% !important;
}

.thumbnail-col-simple-table {
	height: 53px;
	padding: 0;
	width: 92px;

	img {
		display: block;
		width: 100%;
		height: auto;
		max-height: 53px;
		background-position: 50% 50%;
	}
}