.task_header {
	position: relative;
	background: #ffffff;
	padding: 1px 1px 10px 15px;

	h3, p {
		padding-right: 200px;
	}

	p {
		color: #868c92;
		font-size: $mediumSize;
	}

	.btn_secondary {
		.icon_arrow:before {
			color: #868c92;
		}
	}

	.pull-right {
		position: absolute;
		right: 40px;
		top: 50px;

		.flyout {
			width: 250px;

			.flyout_inner {
				max-height: 300px;
				overflow: hidden;
				overflow-y: auto;
			}
		}
	}
}

.task-params {
	background: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 1px;

	> .row {
		margin-right: 0;
	}
}

.select2-search-field > input {
  border: none !important;
}

.task_list_modal_body .modal_inner {
	background-color: $white;
	padding: 30px 15px;

	dt {
		font-family: $semiStrongFont;
		font-size: $mediumSize;
	}

	dd {
		color: #868c92;
		font-size: $smallSize;
	}

	input[type=text], input[type=number], input[type=password] {
		border-radius: 5px;
		border: 1px solid $borderColor;
		padding: 9px 10px;
		font-size: $smallSize;
	}

	.clip-map {
		height: 250px;
		width: 100%;
	}

	.process-control {
		margin-bottom: 15px;
		.form-control {
			height: auto;
		}
	}

	#task-details {
		margin-left: 0;
		margin-right: 0;

		.advanced_wrap {
			margin-bottom: 10px;
		}

		.small {
			font-size: $smallSize;
		}
	}
}

.report-sub-head {
	border-bottom-color: lightgray;
	border-bottom-style: solid;
	border-bottom-width: thin;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.report-item-col {
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	max-width: 0;
	overflow: hidden;
	width: 30%;
	border-right: 1px solid #ddd;
}

.report-reason-col {
	word-break: break-all;
	word-wrap: break-word;
	width: 70%;
}

#params {
	vs-param {
		div {
			margin-bottom: 10px;
		}
	}
}