<div class="modal-header">
    <h3>Save this location</h3>
</div>
<div class="modal-body">
    <form class="form-save-location" role="form">
    	<div class="alert alert-danger" ng-show="hasError()">{{error}}</div>
    	<fieldset>
	        <input id="savedLocationName" type="text" class="form-control focus_field" placeholder="Intersect point -125.16 59.35 -84.38 78.97" ng-model="savedLocation.name" ng-keypress="handleEnter($event)" required autofocus>
	    	<label class="icon-heart_filled" for="savedLocationName" aria-lable="Enter name"><span class="sr-only">Enter name</span></label>
	    </fieldset>
	    <fieldset style="display: none">
            <div ng-if="canShare">
                <div>
                    <label>Share</label>
                </div>
                <div>
                    <input type="hidden" ui-select2="sharedOptions" ng-model="savedLocation.share" style="width: 100%">
                </div>
            </div>
	    </fieldset>
    </form>
</div>
<div class="modal-footer">
	<div class="cta_row">
    	<button class="btn btn-primary" ng-click="ok()" ng-disabled="savedLocation.name == undefined">Save</button>
		<a href="javascript:;" class="link_secondary" ng-click="cancel()">Cancel</a>
	</div>
</div>
<a href="javascript:;" class="modal-close icon-x" ng-click="cancel()"></a>